/* base */


:root {
  --color-brand: rgb(11, 193, 114);
  --color-primary-light: rgb(255, 255, 255);
}
body {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.container {
    width: 100%;
    max-width: 1288px;
}
h2 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    display: inline-block;
}


/* header */
.header{
}

.header__container {
background-image: url(/images/black-fon.jpg);
height: 100vh;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__menu {
display: flex;  
width: 100%;
justify-content: center;
gap: 70px;
}



.header__name {
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 65px;
}

.header__main {
    margin-top: -40px;
}

/* link */
.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.link:hover {
    color: var(--color-brand);
    transition: 0.5s;
}
/* Biography Section */
.biography__text {
    max-width: 650px;
    width: 100%;
    margin: 15px;
}

.biography__first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.biography__Sumdu {
    width: 22%;
    height: auto;
    margin-top: -40px;
    margin-right: 20px;
}

.biography__second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.biography__it-shostka {
    width: 20%;
    height: auto;
    margin-top: -30px;
    margin-left: 20px;
}

.biography__third {
    display: flex;
    justify-content: space-between;
}

.biography__genius-space {
    width: 30%;
    height: auto;
    margin-top: -35px;
    }

.biography__fourth {
    display: flex;
    justify-content: space-between;
}

.biography__full-stack {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
}


/* Resume Section */
.resume__first {
    display: flex;
    justify-content: space-between;
}

.resume__subtitle {
    text-align: center
}

.resume__text-first {
    max-width: 650px;
    width: 100%;
    margin: 15px;
    text-align: center;
}

.resume__map {
    margin-right: 15px;
}

.resume__second {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    
}

.resume__text-second {
text-align: center;
}
.resume__text-second--last {
    max-width: 200px;
}

.resume__third {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.resume__text-third {
    max-width: 400px;
    width: 100%;
    margin: 15px;
    text-align: center;
}


/* Projects Section */
.projects-section {
    
}
/* Footer */
.footer-section {
   background-image: url(/images/footer-fon.jpg);
   z-index: -1;
}
.icon {
    fill: white;
}