/* base */

.icon-name {
  font-size: 32px;
  color: red;
}

:root {
  --color-brand: rgb(11, 193, 114);
  --color-primary-light: rgb(255, 255, 255);
}
body {
    margin: 0;
    padding: 0;
    bottom: 0;
}

.container {
    width: 100%;
    max-width: 1288px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    display: inline-block;
}


/* header */
.header{
}

.header__container {
background-image: url(/images/black-fon.jpg);
height: 100vh;
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header__menu {
display: flex;  
width: 100%;
justify-content: center;
gap: 70px;
}



.header__name {
display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 65px;
}

.header__main {
    margin-top: -40px;
}

/* link */
.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.link:hover {
    color: var(--color-brand);
    transition: 0.5s;
}
/* Biography Section */
.biography-section {
    
}
.biography__Sumdu {
    width: 30%;
    height: auto;
}

.biography__it-shostka {
    width: 30%;
    height: auto;
}

.biography__genius-space {
    width: 30%;
    height: auto;
}
/* Contact Section */
.contact-section {
    
}
/* Resume Section */
.resume-section {
    
}
/* Projects Section */
.projects-section {
    
}
/* Footer */
.footer-section {
   background-image: url(/images/footer-fon.jpg);
   z-index: -1;
}
.icon {
    fill: white;
}