/* base */


:root {
  --color-brand-light: rgb(11, 193, 114);
  --color-primary-light: rgb(255, 255, 255);
  --color-brand-fon: rgb(225, 243, 245);
}
body {
    margin: 0;
    padding: 0;
    bottom: 0;
    background-color: var(--color-brand-fon);
}

.container {
    width: 100%;
    max-width: 1288px;
}
h2 {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    display: inline-block;
}


/* header */
.header{
    margin-bottom: 60px;
}

.header__container {
    background-image: url(/images/black-fon.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__menu {
    display: flex;  
    width: 100%;
    justify-content: center;
    gap: 70px;
    margin-top: -70px;
    margin-bottom: 40px;
}

.header__name {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 65px;
    margin-bottom: 30px;
}


/* link */
.link {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.link:hover {
    color: var(--color-brand-light);
    transition: 0.5s;
}
/* Biography Section */
.biography-section {
    margin-bottom: 60px;
}

.biography__title {
     margin-bottom: 30px;
}

.biography__text {
    max-width: 650px;
    width: 100%;
    margin: 15px;
}

.biography__first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.biography__Sumdu {
    width: 22%;
    height: auto;
    margin-top: -40px;
    margin-right: 20px;
}

.biography__second {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

}

.biography__it-shostka {
    width: 20%;
    height: auto;
    margin-left: 20px;
}

.biography__third {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.biography__genius-space {
    width: 30%;
    height: auto;
    margin-top: -35px;
    }

.biography__fourth {
    display: flex;
    justify-content: space-between;
}

.biography__full-stack {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
}


/* Resume Section */
.resume-section {
margin-bottom: 60px;
}

.resume__title {
    margin-bottom: 30px;
}

.resume__subtitle {
    text-align: center
}

.resume__first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.resume__text-first {
    max-width: 650px;
    width: 100%;
    margin: 15px;
    text-align: center;
}

.resume__map {
    margin-right: 15px;
}

.resume__second {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin-bottom: 40px;
}

.resume__text-second {
text-align: center;
}
.resume__text-second--last {
    max-width: 200px;
}

.resume__third {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.resume__text-third {
    max-width: 400px;
    width: 100%;
    margin: 15px;
    text-align: center;
}


/* Projects Section */
.projects-section {
    margin-bottom: 20px;
}

.projects__title {
    margin-bottom: 30px;
}

.projects__subtitle {
    text-align: center;
}

.projects__text {
    max-width: 800px;
}

.projects__cakeshop {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    gap: 30px;
    margin-bottom: 40px;
}

.projects__cake-shop {
    width: 30%;
    height: auto;
    margin-top: -25px;
}

.projects__portfolio {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    gap: 30px;
    margin-bottom: 40px;
}

.projects__portfolio-photo {
    width: 30%;
    height: auto;
    margin-top: -25px;
}

.projects__colorside {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    gap: 30px;
    margin-bottom: 40px;
}

.projects__colorside-tutorial {
    width: 30%;
    height: auto;

}


/* Footer */
.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
   background-image: url(/images/footer-fon.jpg);
}

.footer__menu-link {
     padding: 8px;  
}

.footer-addrees-div {
    display: flex;
    gap: 20px;

}

.footer__address-icon {
    fill:white;
}

.footer__address-icon:hover {
    fill: var(--color-brand-light);
    transition: 0.5s;
}

.footer__address-link {
    margin-bottom: 20px;
}


.footer__address-link {
    color: white;
}

.footer__address-link:hover {
    color: var(--color-brand-light);
    transition: 0.5s;
}

.footer__address-link__phone {
    margin-top: 8px;
}

.footer__address-copyrightpolit {
    color: white;
    margin-bottom: 20px;
}

.footer__address-copyrightpolit:hover {
    color: var(--color-brand-light);
    transition: 0.5s;
}

.footer__address-copyright {
    color: white;
}
